.header {
    margin: auto;
    height: 70px;
    line-height: 70px;
    background: #dedede;
    text-align: center;
    font-size: 20px;
    color: #3ca0d4;
    border-radius: 2px;
}

body {
    background: url("https://source.unsplash.com/random/1280x720") no-repeat;
    background-size: 100% 100%;
}

.dashboard {
    align-items: center;
    margin: auto;
    width: 500px;
    padding: 10px;
    border: 1px solid black;
    background: white;
}

.btn {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.btn:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.create-otp {
    height: 70px;
    text-align: center;
    line-height: 70px;
    background: #dedede;
    margin: 10px 0px;
    border-radius: 2px;
}

.otp {
    height: 70px;
    margin-bottom: 10px;
    text-align: center;
}

.otp-container > .desc {
    text-align: center;
}

.otp-container {
    border: 1px;
    padding: 10px;
}

.host,.guest {
    padding: auto;
}